<section class="container">
    <div class="one" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesNeeds/Daily">
        </fusioncharts>
    </div>
    <div class="two" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesAvailables/Daily">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one2" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/Daily">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesNeeds/Weekly">
        </fusioncharts>
    </div>
    <div class="two" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesAvailables/Weekly">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one2" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/Weekly">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesNeeds/ByRegion">
        </fusioncharts>
    </div>
    <div class="two" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "column3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesAvailables/ByRegion">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Arecibo">
        </fusioncharts>
    </div>
    <div class="two1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Bayamon">
        </fusioncharts>
    </div>
    <div class="three1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Carolina">
        </fusioncharts>
    </div>
    <div class="four1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Guayama">
        </fusioncharts>
    </div>
</section>

<section class="container">
    <div class="one1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Humacao">
        </fusioncharts>
    </div>
    <div class="two1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Mayaguez">
        </fusioncharts>
    </div>
    <div class="three1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=Ponce">
        </fusioncharts>
    </div>
    <div class="four1" align="center">
        <fusioncharts
            width= "85%"
            height= "400"
            type= "pie3d"
            dataFormat= "jsonurl"
            dataSource= "https://resource-app.herokuapp.com/ResourceApp/ResourcesMatches/ByRegion?rname=San Juan">
        </fusioncharts>
    </div>
</section>
